@model Turnos.Models.Medico

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>

<body>

    <h4>¿Estás seguro que quieres eliminar los datos?</h4>
    <div>
        <hr />

        <div class="row">
            <div class="col s12 m6">
                <div class="card purple darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">
                            <h4>
                                <b>
                                    Medico:
                                    @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)
                                </b>
                            </h4>
                        </span>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Direccion): @Html.DisplayFor(model => model.Direccion)
                        </dt>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Telefono): @Html.DisplayFor(model => model.Telefono)
                        </dt>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)
                        </dt>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HoraAtencionDesde): @Html.DisplayFor(model =>
                            model.HoraAtencionDesde)
                        </dt>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HoraAtencionHasta): @Html.DisplayFor(model =>
                            model.HoraAtencionHasta)
                        </dt>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Especialidad): @Html.DisplayFor(model =>
                            model.Especialidad.Descripcion)
                        </dt>
                    </div>
                    <div class="card-action teal darken-4">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="IdMedico" />
                            <input type="submit" value="Eliminar" class="btn waves-effect waves-light" />
                            <a asp-action="Index" class="waves-effect waves-light red btn">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
